<!--The content below is only a placeholder and can be replaced.-->
<div class="row line box-shadow">

<div class=" col-4 headline">
    <img  width="50" alt="Logo" src="..\..\assets\images\cat.png">
     Our New App</div>
     <div class=" col-4"></div>
<div class="col-2 about">About</div>
<div class="col-2 about">Log In</div>
</div>

<br>
 <app-newcomponent></app-newcomponent> 
<app-directives></app-directives>
<div class="row">
    <div class="col-2"></div>
    <div class="col-4"><app-emitter (onChanged)="Change()"></app-emitter></div>
    <div class="col-4 headline"><br>Count clicks: {{clicks}}</div>
</div>

