.headline{

    font-family: KG Batty Girl;
    font-size: 48px;
    font-style: normal;
    font-weight: normal;
}
img{
    margin-top: 10px;
    margin-left: 10px;
}
.about{
    margin-top: 10px;
    font-family: KG Batty Girl;
    text-align: center;
    font-size: 32px;
}
.line{
    border-bottom:1px solid #000;
}